html, body {
  height: 100%;
  width: 100%;
  background: black;
  color: white;  
}

li{
  color: green;
  list-style: none;
}
a{
  color: green;
  text-decoration: none;
}
img{
  max-height: 500px;
}
